In [1]:
#importing necessary libraries.
import pandas as pd
import numpy as np

# import TfidfVector from sklearn.
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [2]:
employees = pd.read_csv(r"https://raw.githubusercontent.com/Nishaanthan/People_Analytics/refs/heads/main/datasets/fau_clinic_recommender_system.csv")
employees.columns

Index(['id', 'teams', 'previous_experience', 'hobbies', 'sports'], dtype='object')

In [3]:
def create_soup(x):
    return ''.join(x['teams']) + ''.join(x['previous_experience']) + '' + ''.join(x['hobbies']) + '' + ''.join(x['sports'])
employees['soup'] = employees.apply(create_soup, axis=1)

In [4]:
employees['soup']

0          team_02Expert.reading, gardening, yogatennis
1         team_01Novice.arts and crafts, yogavolleyball
2     team_03Advanced beginner.running, hiking, phot...
3     team_04Competent.arts and crafts, photographyt...
4     team_05Proficient.reading, journalising, music...
5              team_05Expert.reading, music, yogatennis
6     team_03Competent.fitness, running, gardeningsw...
7     team_02Proficient.volunteering, cooking, bakin...
8     team_02Novice.hiking, cycling, outdoor activit...
9     team_01Advanced beginner.arts and crafts, phot...
10    team_01Novice.fitness, running, gardeningvolle...
11    team_02Advanced beginner.reading, traveling, b...
12    team_05Competent.reading, blogging, journalisi...
13    team_04Proficient.fitness, running, cookingswi...
14           team_01Expert.reading, music, yogaswimming
15    team_04Competent.fitness, running, cookingbask...
16          team_03Expert.traveling, photographycricket
17    team_05Proficient.traveling, journalising, mus...
18    team_01Novice.hiking, cycling, outdoor activit...
19       team_02Expert.traveling, photographyvolleyball
20     team_03Novice.arts and crafts, photographytennis
21    team_04Advanced beginner.fitness, running, gar...
22    team_01Competent.reading, traveling, bloggingc...
23    team_04Competent.arts and crafts, reading, yog...
24    team_03Competent.running, yoga, music, journal...
25    team_05Novice.volunteering, cooking, photograp...
26    team_01Advanced beginner.hiking, photography, ...
27    team_04Competent.reading, blogging, journalisi...
28      team_03Novice.fitness, running, gardeningtennis
29    team_03Competent.reading, traveling, bloggingb...
30          team_02Competent.reading, music, yogatennis
31        team_05Competent.traveling, photographytennis
32    team_03Advanced beginner.fitness, yoga, cookin...
33    team_03Competent.running, yoga, music, bloggin...
34    team_05Novice.volunteering, cooking, bakingtennis
35    team_01Advanced beginner.hiking, photography, ...
36    team_04Competent.reading, blogging, journalisi...
37    team_03Novice.fitness, running, gardening, mus...
38    team_03Competent.reading, traveling, bloggingt...
39      team_02Competent.reading, music, yogavolleyball
40      team_05Competent.traveling, photographyfootball
41    team_03Advanced beginner.fitness, running, coo...
42         team_02Expert.reading, gardening, yogatennis
43        team_01Novice.arts and crafts, yogavolleyball
44    team_03Advanced beginner.running, hiking, phot...
45    team_04Competent.arts and crafts, photographyt...
46    team_05Proficient.reading, journalising, music...
47             team_05Expert.reading, music, yogatennis
48    team_03Competent.fitness, running, gardeningsw...
49    team_03Advanced beginner.fitness, music, cooki...
Name: soup, dtype: object

In [5]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(employees['soup'])
tfidf_matrix.shape

(50, 66)

In [6]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [7]:
indices = pd.Series(employees.index, index=employees['id']).drop_duplicates()

In [8]:
def get_recommendations(ID, cosine_sim=cosine_sim):
    IDx = indices[ID]
    sim_scores = list(enumerate(cosine_sim[IDx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:4]
    employees_indices = [i[0] for i in sim_scores]
    return employees['id'].iloc[employees_indices]

In [9]:
get_recommendations('emp_050', cosine_sim)

41    emp_042
13    emp_014
32    emp_033
Name: id, dtype: object